.header {
height:50px;
background:green;
border:3px;
line-height: 50px;
padding-left:10px;
}

.mainContainer {
  width:500px;
  margin:auto;
}

h2 {
  color:white;
}

ul {
  list-style-type: none;
  padding-left:0px;

}

.eachContact {
  width:500px;
  border-bottom:2px solid #ccc;
  height:50px;
}

.circle {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius:50%;
  margin-right:20px;
}

.Name {
  text-decoration:none;
  font-size: 20px;
  font-style: bold;

}

span {
  position: relative;
  bottom: 17px;
}

a {
  display:block;
  line-height:50px;
  display:flex;
  color:#333;
}

.img {
  background: rgb(143, 180, 72);
  height: 200px;
}

.back {
  border:none;
  background: rgb(143, 180, 72);
  outline: none;
  position: relative;
  bottom: 120px;
  left: 20px;
}

.personImg {
  border-radius: 50%;
  margin-left: 150px;
  margin-top: 30px;
}

.personInfo {
  padding: 0;
}

.personInfo li {
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
  line-height: 20px;
}

.fa-arrow-left {
  font-size: 20px;
}

.personInfo i {
  width: 30px;
  height: 30px;
}
